.sizing {
  width: 50%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;
  background-color: white;
}

.nav-bar__first {
  display: flex;
  gap: 10px;
  text-align: center;
  font-weight: 500px;
}

.nav-bar__first img {
  padding-top: 5px;
}

.nav-bar__first__font {
  font-family: 'Lobster', cursive;
}

.nav-bar__second {
  text-align: center;
  width: 200px;
  background-color: #fafafa;
  padding: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  font-size: 10px;
}

.nav-bar__third {
  display: flex;
  gap: 20px;
  text-align: center;
}

.feed {
  display: flex;
  justify-content: center;
}

.feed-area {
  width: 400px;
  border: 1px solid #dfdfdf;
  padding-left: 0;
}

.main-first {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.main-first img {
  opacity: 0.7;
}

.main-first__profile {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.main-first__profile div {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 550;
}

.main-second {
  width: 400px;
  height: 400px;
}
.main-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}
.main-four {
  margin-left: 10px;
}

.main-four a {
  font-size: 11px;
}

.main-four__state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 11px;
}

.main-five {
  position: relative;
}

.main-five input {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-top: 3px;
  font-size: 5px;
  border: 1px solid #dfdfdf;
}

.main-five p {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 3px;
  color: skyblue;
  opacity: 0.7;
}

.bold {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.opcity {
  opacity: 0.5;
  text-decoration: none;
  color: black;
}
